main {
    display: flex;
    background-color: #f7f7f7;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

section {
    background-color: white;
    border: 1px solid #e0e0e0 !important;
    border-radius: 5px;
    margin-top: 10vh !important;
    padding: 50px !important;
}

section > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section > h1 {
    border-bottom: 2px solid #e0e0e0;
    color: #0f0230;
    font-size: 3rem;
    font-family: "Playfair Display", serif;
    margin-bottom: 6vh;
    padding-bottom: 2vh;
    text-align: center;
}

div > label {
    font-size: 5vh;
    font-family: "Montserrat", sans-serif;
    margin-right: 31vh;
    margin-bottom: 4vh;
}

div > input {
    background: #f5f8ff;
    border-color: #f3f3f3;
    border-radius: 5px;
    padding-left: 10px;
    height: 4vh;
    width: 31vw;
}

.estados {
    display: flex;
    align-items: baseline;
    width: 100%;
}

#estado {
    color: white;
    background-color: black;
    height: 5vh;
}

#btn-enviar {
    background-color: #4516b1;
    color: white;
    height: 6vh;
    width: 100%;
}

#btn-enviar:hover {
    background-color: darkblue;
}
