.home-header {
    background-color: #4516b1;
}

.home-header ul li {
    color: white;
    cursor: pointer;
}

.home-header ul {
    display: flex;
    gap: 5rem;
    justify-content: center;
    font-size: 1.5rem;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    padding: 2rem 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;         
    padding: 20px;
}

section > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section > h1 {
    color: #0f0230;
    font-size: 4rem;
    font-family: "Playfair Display", serif;
    margin-bottom: 3vh;
}

div > label {
    font-size: 5vh;
    margin-right: 1.5vh;
}

div > input {
    border-color: #4516b1;
    border-radius: 4rem;
    height: 3.5vh;
    width: 10vw;
}