
.home-header {
    background-color: #4516b1;
}

.home-header ul li {
    color: white;
    cursor: pointer;
}

.home-header ul {
    display: flex;
    gap: 5rem;
    justify-content: center;
    font-size: 1.5rem;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    padding: 2rem 0;
}

#main {
    background-image: url("./img/fundoprincipal.jpg");
    background-size: cover;
    background-position: center;
    height: calc(100vh - 85px);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

#main > * {
    position: relative;
    z-index: 2;
}

#main h1 {
    color: white;
    font-size: 4rem;
    font-family: "Playfair Display", serif;
}